.ui-datepicker{
    z-index: 10 !important;
}

ul.events-list, ul.events-list-header {
    list-style-type: none;
    margin: 0px 0 0 0;
    padding: 0;
}

ul.events-list li, .events-list-header li {
    padding: 5px;
    margin: 10px 0;
}

.create-event-link {
    font-size: 16px;
}

.b-event-time, .b-event-text, .b-event-weight {
    color: #000000;
    font-weight: normal;
}

.content {
    overflow: visible;
}


.field-events-weight {
    display: none;
}

.events-list li {
    cursor: pointer;
}

/*
#events-time {
    display: none;
}
*/


.create-events-form select
{
    height: 34px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.label-row {
    padding: 5px;
    border: 1px solid #cccccc;
    margin-top: 10px;
    margin-bottom: 10px;
}

.labels-default-index {
    padding: 10px;
}

.label-row.header-section {
    font-size: 16px;
    font-weight: bold;
}

.col-label-name , .link-delete-label {
    color: rgb(28, 148, 196);
    font-size: 14px;
    font-weight: bold;
    height: 20px;
}

.create-labels-form > .row{
    margin: 10px;
}