@import url('http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:800,400');

a, div, p {
    font-family: Lato;
    color: rgb(231, 231, 231);
}

input {
    font-family: Lato;
}

a:hover, a:focus, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus, .glyphicon-search:hover::before {
    color: rgb(211, 174, 65);
    transition: 200ms;
}



.width-50 {
    width: 50px;
}

html,
body {
    height: 100%;
    background-color: #000000;
}

.footer {
    background-color: #000000;
    padding: 80px 0;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.schedule {
    background-color: rgb(34, 34, 34);
}

.main-block {
    background-color: #000000;
}

.video-content img {
    width: 100%;
}

.navbar {
    margin-bottom: 0;
}

.navbar-inverse {
    background: none;
}

.player-icons-bar ul li {
    list-style: none;
    float: left;
    margin-right: 32px;
    line-height: 70px;
}

.player-icons-bar ul {
    padding: 0;
}

.c-clearfix {
    clear: both;
}

.player {
    padding-bottom: 20px;
}

.container-player-icons-bar {
    background-color: #000000;
    border-top: solid 2px rgb(34, 34, 34);
}

.show-hide-schedule {
    display: block;
    width: 320px;
    margin: 40px auto;
    border: solid 2px rgb(83, 83, 83);
}

.show-hide-schedule:hover {
    text-decoration: none;
}

.sh-label {
    width: 254px;
    float: left;
    border-right: solid 2px rgb(83, 83, 83);
}

.sh-arrow {
    width: 60px;
    float: left;
}


.video-title {
    text-transform: uppercase;
}


.video-image img {
    width: 100%;
}

.current-video {
    background-color: rgb(54, 54, 54);
    margin-bottom: 20px;
}

.video-event {
    padding: 0px;
}

.footer-menu ul li {
    list-style: none;
}

.footer-menu ul {
    padding: 0;
}

.s-icons-list li {
    list-style: none;
    float: left;
    margin: 5px;
}

.s-icons-list {
    padding: 0;
}

.footer-menu {
    float: left;
}

.footer-menu ul li a:hover {
    text-decoration: none;
}

.social-icons {
    float: right;
}

.video-set > div {
    padding-left: 10px;
    padding-right: 10px;
}

.wrap {
    background-color: #000000;
}

.navbar {
    border: none;
}

.breadcrumb {
    display: none;
}

.overriden-log-in, .overriden-reg, .overriden-manage-user {
    margin-top: 40px;
}

.vods-catalog, .vod-container {
    color: #ffffff;
}

.vod-item {
    padding: 20px;
}

.vod-item img {
    display: block;
    width: 100%;
}

.vod-item a {
    color: #ffffff;
    font-weight: bold;
}

#ooyalaplayer {
    width: auto;
    height: 530px;
}

.shows-item-wrapper img {
    display: block;
    width: 100%;
    height: 165px;
}

.shows-item-container {
    background-color: rgb(54, 54, 54);
    height: 300px;
}

.shows-catalog-wrapper {
    background-color: rgb(34, 34, 34);
}

.shows-catalog {
    padding: 30px 15px;
}

.shows-info {
    padding: 10px;
}

.show-link {
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
}

.show-description {
    font-size: 13px;
    color: rgb(181, 181, 181);
}

.main-text-wrapper {
    background-color: rgb(54, 54, 54);
    padding-top: 30px;
}

.main-text {
    color: rgb(181, 181, 181);
    padding: 20px 15px;
    font-size: 16px;
}

.video-item-container img {
    display: block;
    width: 100%;
    height: 165px;
}

.video-list-container {
    padding: 30px 15px;
}


.video-info {
    padding: 25px;
}

.show-banner-picture img {
    display: block;
    margin:  0 auto;
    width: 100%;
}

@media (min-width: 992px){
    .show-banner-picture img {
        width: auto;
    }
}

.show-list-wrapper {
    background-color: rgb(34, 34, 34);
}

.video-item-container {
    height: 235px;
}

.label-video-container, .video-item-container {
    background-color: rgb(54, 54, 54);
}

.video-link {
    color: rgb(231, 231, 231);
}

/*.video-item-container {
    background-color: #000000;
}*/

.browse-wrapper {
    background-color: rgb(34, 34, 34);
    padding: 30px 0px 45px;
}

.label-video-img {
    width: 100%;
    display: block;
    height: 80px;
}

.label-video-container {
    height: 180px;
}

.label-video-link {
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
}

.label-video-views {
    color: #ffffff;
}

.label-video-info {
    padding: 5px;
}

.head-style {
    font-size: 24px;
    font-weight: lighter;
    color: rgb(231, 231, 231);
    line-height: 32px;

}

h1, h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.section-heading .head-style {
    float: left;
}

.section-heading {
    height: 40px;
}

.see-more {
    float: right;
    color: #ffffff;
    line-height: 40px;
    font-size: 14px;
}

.link_to_artist {
    display: block;
    color: rgb(181, 181, 181);
    font-size: 12px;
}

.label-wrapper {
    background-color: rgb(34, 34, 34);
    padding: 10px 0;
}

.artist-item-wrapper {
}

.artist-item-container {
    height: 190px;
    background-color: #000000;
}

.artist-item-container img{
    display: block;
    width: 100%;
    height: 140px;
}

.artist-name {
    display: block;
    color: rgb(231, 231, 231);
}

.video-count {
    color: rgb(181, 181, 181);
}

.video-name {
    color: #ffffff;
}

.artist-info {
    padding: 5px 10px;
}


@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

.video-set.row {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 40px;
}

.video-set.row > div{
    margin-bottom: 20px;
}

.shows-item-wrapper {
    margin-bottom: 30px;
}

.video-results-container.row, .artists-results-container.row {
    margin-left: -10px;
    margin-right: -10px;
}


.artist-item-wrapper {
    padding: 10px;
}

.Chevron-top{
    position:relative;
    display:block;
    height:50px;
    top: 23px;
    left: 15px;
}

.Chevron-top:before,
.Chevron-top:after{
    position:absolute;
    display:block;
    content:"";
    border:16px solid transparent;
}

.Chevron-top:before{
    top:0;
    border-top-color:rgb(83, 83, 83);
}

.Chevron-top:after{
    top:-3px;
    border-top-color:rgb(34, 34, 34);
}

.Chevron-bottom{
    position:relative;
    display:block;
    height:50px;
    top: -11px;
    left: 15px;
}

.Chevron-bottom:before,
.Chevron-bottom:after{
    position:absolute;
    display:block;
    content:"";
    border:16px solid transparent;
}

.Chevron-bottom:before{
    bottom:0;
    border-bottom-color:rgb(83, 83, 83);
}

.Chevron-bottom:after{
    bottom:-3px;
    border-bottom-color:rgb(34, 34, 34);
}

.input-search {
    width: 100%;
    height: 40px;
    font-size: 24px;
    color: rgb(181, 181, 181);
    line-height: 32px;
    padding: 4px;
    opacity: 0.9;
    background: none;
    border: none;
    border-bottom: solid 1px rgb(181, 181, 181);
    margin-bottom: 30px;
}

.input-search:focus {
    border: none;
    border-bottom: solid 1px rgb(181, 181, 181);
    outline: none;
}

.search-results {
    display: none;
}

.search-modal {
    background-color: rgba(34, 34, 34, 0.9);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999;
    padding-top: 40px;
    display: none;
    overflow-x: auto;
    overflow-y: scroll;
}

.close-search-modal {
    position: absolute;
    top: 3px;
    font-size: 24px;
    color: rgb(181, 181, 181);
    right: 15px;
}

.glyphicon {
    top: 0;
}

.glyphicon-search:before {
    content: "\e003";
    position: absolute;
    top: 18px;
    left: 0px;
    display: inline-block;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    color: rgb(221, 221, 221);
    font-size: 14px;
}

.navbar-nav li a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    font-family: Open Sans;
}

.navbar-nav li a.signin-signout {
    font-family: Lato;
    font-size: 11px;
}

.navbar-inverse .navbar-nav>li>a {
    color: rgb(221, 221, 221);
}


@media (max-width: 992px){
    #ooyalaplayer {
        width: auto;
        height: 405px;
    }
}

@media (min-width : 992px){
    .nav>li>a {
        padding-left: 0;
        padding-right: 0;
    }

    .glyphicon-search a {
        padding-left: 20px !important;
    }

    .navbar-nav>li {
        margin-left: 80px;
    }

    .navbar-nav>li.dropdown, .navbar-nav>li.li-signin-signout{
        margin-left: 170px;
    }
}

.video-time {
    font-family: Lato;
    font-size: 30px;
    color: rgb(231, 231, 231);
    line-height: 30px;
    margin-bottom: 25px;
}

.video-title {
    font-family: Lato;
    font-size: 16px;
    color: rgb(231, 231, 231);
    line-height: 18px;
}

.video-description {
    font-family: Lato;
    color: rgb(181, 181, 181);
    margin: 0;
    font-size: 16px;
    line-height: 18px;
}

.video-event-sub-wrapper {
    background-color: rgb(54, 54, 54);
    padding: 25px;
    height: 170px;
}

.show-hide-schedule div {
    font-family: Lato;
    text-transform: uppercase;
    color: rgb(83, 83, 83);
    line-height: 60px;
    text-align: center;
    font-size: 24px;
}

.footer-menu ul li a {
    font-family: Lato;
    text-transform: capitalize;
    font-size: 18px;
    color: #ffffff;
    line-height: 50px;
}

.copyrights {
    color: rgb(151, 151, 151);
    font-family: Lato;
    font-size: 18px;
    margin-top: 40px;
}

.sc-label {
    font-family: Lato;
    color: #ffffff;
    float: right;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 50px;
}

.registration-form {
    width: 100%;
}

.signin-signout-container {
    background-color: rgb(34, 34, 34);
    padding-bottom: 30px;
}

.registration-form input {
    background-color: rgb(231, 231, 231) !important;
    color: rgb(34, 34, 34);
    height: 60px;
    border-radius: none;
    border: solid 2px rgb(83, 83, 83);
}

.in-out-form {
    padding-top: 30px;
}

.signin-signout-name {
    font-family: Lato;
    font-size: 30px;
    line-height: 40px;
    color: rgb(231, 231, 231);
    margin-bottom: 20px;
}

.has-success .form-control, .has-error .form-control {
    border-color: rgb(83, 83, 83);
}

.has-success .form-control:focus, .has-error .form-control:focus, .form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgb(211, 174, 65);
    border-color: rgb(211, 174, 65);
}

.field-loginform-rememberme {
    display: none;
}

.registration-form button {
    width: 100%;
}

.forgot-pass-link {
    color: rgb(231, 231, 231);
    margin-top: 15px;
}

.forgot-pass-link a {
    color: rgb(211, 174, 65);
}

.in-out-form .btn-primary{
    height: 60px;
    background-color: rgb(211, 174, 65);
    font-size: 24px;
    border: solid 2px rgb(83, 83, 83);
}

input {
    font-family: Lato;
}

.not-registered-link {
    color: rgb(231, 231, 231);
    margin-top: 15px;
}

.not-registered-link a {
    color: rgb(211, 174, 65);
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:focus {
    height: 60px;
    background-color: rgb(211, 174, 65);
    font-size: 24px;
    border: solid 2px rgb(83, 83, 83);
}

.field-profile-avatar_url {
    display: none;
}

.search-video-info {
    padding: 5px 10px;
}

.show-link, .label-video-link, .see-more {
    color: rgb(231, 231, 231);
}

.label-video-views {
    color: rgb(181, 181, 181);
    font-size: 12px;
}

.show-page .video-item-wrapper {
    margin-bottom: 30px;
}

.show-page .video-info {
    padding: 5px 10px;
}

#ooyalaplayer>div, #playerContainer>div {
    z-index: 999 !important;
}

.navbar-inverse .navbar-nav .dropdown-menu {
    z-index: 99999;
}

.navbar-inverse .navbar-nav .dropdown-menu {
    background-color: rgb(54, 54, 54);
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
    color: rgb(231, 231, 231);
}

 .navbar-nav li.dropdown a.signin-signout {
    font-size: 14px;
    font-family: Open Sans;
}

.dropdown-menu {
    border-radius: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a {
    border-radius: 0;
}

.field-user-username {
    display: none;
}

.create-playlist-label, .playlist-item a{
    color: rgb(231, 231, 231);
}

.playlist-item a {
    font-size: 24px;
    line-height: 30px;
}

.playlist-item a:hover {
    color: rgb(211, 174, 65);
    transition: 200ms;
}

.playlists-list {
    margin-top: 30px;
}

.available-playlists {
    background-color: rgb(54, 54, 54);
    padding: 10px;
    position: absolute;
    left: 0px;
    width: 180px;
    text-align: center;
}

.available-playlists a {
    color: rgb(231,231,231);
    line-height: 14px;
    display: block;
    margin: 5px 0;
}

.available-playlists a:hover {
    color: rgb(211, 174, 65);
    transition: 200ms;
}

.plus-current-video {
    display: none;
}

.available-playlists {
    display: none;
}

.available-playlists a.not-available {
    color: rgb(151, 151, 151);
}

.wrap-playerContainer {
    height: 530px;
    width: auto;
}

.simple-text {
    color: rgb(231, 231, 231);
}

.position-pl {
    text-align: center;
    line-height: 80px;
    padding-right: 0;
}

.pl-label-video-info {
    line-height: 80px;
}

.pl-image {
    padding-left: 0;
}

.playlist-videos {
    padding: 20px 0 1px;
    margin: 0;
    background-color: rgb(34, 34, 34);
}

.playlist-videos > .row {
    margin-bottom: 20px;
}

.playlist-videos li {
    list-style: none;
}

.ui-state-default {
    background: none;
    border: none;
}

.pl-video-container {
    background-color: rgb(54, 54, 54);
    margin: 0 20px;
}

.ui-state-default a.pl-video-link, .ui-state-default a.pl-video-link:link, .ui-state-default a.pl-video-link:visited {
    color: rgb(231, 231, 231);
}

.playlist-videos li:hover {
    cursor: pointer;
}

.pl-video-container {
    border : solid 1px rgb(54, 54, 54);
}

.playlist-edit-panel input, .create-playlist-form input {
    background-color: rgb(231, 231, 231);
    color: rgb(34, 34, 34);
    height: 60px;
    border-radius: none;
    border: solid 2px rgb(83, 83, 83);
    width: 100%;
    font-size: 24px;
    padding: 10px;
}

#playlist-save, #playlist-delete, .create-playlist-form input[type='submit']  {
    background-color: rgb(211, 174, 65);
    font-size: 24px;
    color: rgb(231, 231, 231);
    text-transform: capitalize;
}

.playlist-edit-panel {
    margin-bottom: 20px;
}

.ui-state-default a.pl-video-delete-link, .ui-state-default a.pl-video-delete-link:link, .ui-state-default a.pl-video-delete-link:visited{
    line-height: 80px;
    color: #ffffff;
    font-size: 24px;
    padding: 5px;
}

.ui-state-default a.pl-video-delete-link:hover, .ui-state-default a.pl-video-delete-link:hover, .ui-state-default a.pl-video-delete-link:hover {
    color: red !important;
}

.video-unavailable {
    opacity: 0.5;
}

.playlists-header {
    margin-bottom: 30px;
}


.playlist-item a {
    text-align: center;
    background-color: rgb(54, 54, 54);
    padding: 15px;
}

.playlists-container.row > div{
    background-color: rgb(34, 34, 34);
}

.video-time {
    text-transform: uppercase;
}

.label-video-wrapper {
    padding-bottom: 10px;
    padding-top: 10px;
}

.label-page .label-head-wrapper {
    background-color: rgb(54, 54, 54);
    padding: 30px 0;
}

.footer a:hover {
    color: rgb(211, 174, 65);
}

.go_to_signin a, .go_to_signin {
    font-size: 14px;
    line-height: 16px;
}

.go_to_signin a {
    display: inline-block;
}

a.show-hide-schedule:hover {
    transition: 0;
}


.show-hide-schedule:hover .Chevron-bottom:before {
    border-bottom-color: rgb(211, 174, 65);
}

.show-hide-schedule:hover .Chevron-top:before {
    border-top-color: rgb(211, 174, 65);
}

.show-hide-schedule:hover .sh-label {
    color: rgb(211, 174, 65);
    border-right: solid 2px rgb(211, 174, 65);
}

.show-hide-schedule:hover {
    border: solid 2px rgb(211, 174, 65);
}

.playlist-videos-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 460px;
}



.Chevron-top-pl{
    position:relative;
    display:block;
    height:50px;
    top: 10px;
    left: 50px;
}

.Chevron-top-pl:before,
.Chevron-top-pl:after{
    position:absolute;
    display:block;
    content:"";
    border:16px solid transparent;
}

.Chevron-top-pl:before{
    top:0;
}

.Chevron-top-pl:after{
    top:-3px;
    border-top-color:rgb(231, 231, 231);
}

.Chevron-bottom-pl{
    position:relative;
    display:block;
    height: 40px;
    top: -20px;
    left: 50px;
}

.Chevron-bottom-pl:before,
.Chevron-bottom-pl:after{
    position:absolute;
    display:block;
    content:"";
    border:16px solid transparent;
}

.Chevron-bottom-pl:before{
    bottom:0;
}

.Chevron-bottom-pl:after{
    bottom:-3px;
    border-bottom-color:rgb(231, 231, 231);
}

.pl-video-top:hover, .pl-video-bottom:hover {
    cursor: pointer;
}

.pl-video-bottom:hover .Chevron-top-pl:after{
    border-top-color:rgb(211, 174, 65);
}

.pl-video-top:hover .Chevron-bottom-pl:after {
    border-bottom-color:rgb(211, 174, 65);
}

img.play_button {
    width: 50px;
    position: absolute;
    height: 50px;
    display: none;
    z-index: 9;
}

.shows-item-wrapper img.play_button {
    left: 136px;
    top: 57px;
}

.shows-item-container a:hover img.play_button{
    display: block;
}

.shows-item-container a:hover .show-thumb, .label-video-container a:hover .label-video-img, .video-list .video-item-container a:hover .video-thumb,
.video-results-container .video-item-container a:hover img.results-video-thumb,.artists-results-container .artist-item-container a:hover .results-artist-thumb,
.label-video-wrapper .label-video-container  a:hover .label-video-img{
    opacity: 0.7;
    /*transition: 200ms;*/
}

.label-video-container img.play_button {
    left: 56px;
    top: 25px;
}

.label-video-container a:hover img.play_button {
    display: block;
}


.video-list .video-item-container a:hover img.play_button{
    display: block;
}

.video-list .video-item-container img.play_button {
    left: 136px;
    top: 57px;
}

.video-results-container .video-item-container a:hover img.play_button{
    display: block;
}

.video-results-container .video-item-container img.play_button{
    left: 55px;
    top: 50px;
}

.video-results-container .video-item-container img.results-video-thumb {
    height: 140px;
}


.artists-results-container .artist-item-container a:hover img.play_button {
    display: block;
}

.artists-results-container .artist-item-container img.play_button {
    left: 55px;
    top: 50px;
}

.label-video-wrapper .label-video-container  a:hover img.play_button {
    display: block;
}