@import url('http://fonts.googleapis.com/css?family=Lato:700,400,300&subset=latin,latin-ext');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:700,400');

body {
    font-family: Lato, sans-serif;
    background: #181818;
}

ul, ol {
    padding: 0;
    margin: 0;
}

/* Elements */

.btn {
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    padding: 20px 60px;
    border-radius: 2px;
    -webkit-transition: .35s;
    -moz-transition: .35s;
    -ms-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
    outline: none;
}

.btn:hover {
    color: #fff;
}

.btn-red {
    background-color: #e02424;
    border-color: #e02424;
}

.btn-red:hover {
    background-color: #c21f1f;
    border-color: #c21f1f;
}

/* Header */

#header {
    background: #000000;
    height: 80px;
}

#header .navbar {
    margin: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
}

#header .navbar-nav > li {
    padding: 15px 0;
}

#header .navbar-nav li a {
    position: relative;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
}

#header .navbar-nav > li > a:hover {
    background: transparent;
}

#header .navbar-nav > li > a:after {
    content: "";
    display: block;
    width: 0;
    margin: 0 auto;
    margin-top: 2px;
    border-bottom: 1px solid #fff;
    -webkit-transition: .35s;
    -moz-transition: .35s;
    -ms-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
}

#header .navbar-nav > li > a:hover:after {
    width: 100%;
    -webkit-transition: .35s;
    -moz-transition: .35s;
    -ms-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
}

/* Welcome */

#welcome {
    background: #111111 url("../images/bg.png") 50% 50% no-repeat;
    height: 750px;
    text-align: center;
    color: #fff;
}

#welcome .welcome-block {
    position: relative;
    z-index: 10;
    padding: 70px 0 100px 0;
}

#welcome .welcome-block p {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}

#welcome .welcome-block .logo {
    display: block;
    padding: 20px 0;
}

#welcome .welcome-block .play-btn {
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    display: inline-block;
    width: 90px;
    height: 90px;
    margin: 60px 0;
    background: url("../images/play.png") 50% 50% no-repeat;
}

#welcome .welcome-block .play-btn:before {
    position: absolute;
    content: "";
    margin-left: -65px;
    margin-top: -65px;
    left: 50%;
    top: 50%;
    opacity: 0.2;
    width: 130px;
    height: 130px;
    background-color: #D02121;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-animation: play-anim 2.3s infinite ease-in-out;
    -moz-animation: play-anim 2.3s infinite ease-in-out;
    -ms-animation: play-anim 2.3s infinite ease-in-out;
    -o-animation: play-anim 2.3s infinite ease-in-out;
    animation: play-anim 2.3s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

#welcome .welcome-block .play-btn:hover:before {
    opacity: 0.35;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#welcome .welcome-block h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    text-transform: uppercase;
}

/* About */

#about {
    padding: 60px 0;
    color: #fff;
    text-align: center;
}

#about h3 {
    background-color: #181818;
    padding: 0 10px;
    position: relative;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

#about .about-title {
    position: relative;
    margin: 0 0 30px 0;
}

#about .about-title:before {
    content: "";
    bottom: 12px;
    left: 50%;
    position: absolute;
    border: 1px solid #2e2e2e;
    height: 780px;
    width: 380px;
    margin-left: -190px;

}

#about p {
    text-align: justify;
    font-size: 18px;
    color: #959595;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 30px;
}

/* Options */

#options ul {
    list-style: none;
    font-size: 0;
    color: #fff;
}

#options ul li {
    position: relative;
    width: 33.333333%;
    display: inline-block;
}

#options ul li .item-img {
    overflow: hidden;
}

#options ul li .item-img img {
    max-width: 100%;
    min-height: 340px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url(desaturate.svg#greyscale);
    webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}

#options ul li .item-info {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 60px;
    text-align: center;
}

#options ul li .item-info h4 {
    font-size: 24px;
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#options ul li .item-info p {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    min-height: 90px;
}

#options ul li:hover .item-img img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: url(desaturate.svg#greyscale);
    transform: rotate(2deg) scale(1.05);
}

/* Categories */

#categories {
    padding: 100px 0 160px 0;
    text-align: center;
}

#categories .nav-tabs {
    border-bottom: 0;
    display: inline-block;
}

#categories .nav-tabs > li {
    padding: 0 10px;
    margin-right: 0;
}

#categories .nav-tabs > li > a {
    color: #ffffff;
    border: 1px solid #ffffff;
    width: 220px;
    line-height: 36px;
    height: 60px;
    border-radius: 0;
    background: transparent;
    -webkit-transition: .35s;
    -moz-transition: .35s;
    -ms-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
}

#categories .nav-tabs > li > a:hover,
#categories .nav-tabs > li.active > a,
#categories .nav-tabs > li.active > a:hover,
#categories .nav-tabs > li.active > a:focus {
    color: #d3ae41;
    border: 1px solid #d3ae41;
    background: transparent;
}

#categories .categories {
    margin: 0 -10px;
    padding: 60px 0;
    font-size: 0;
}

#categories .categories li {
    vertical-align: top;
    display: inline-block;
    width: 25%;
    padding: 0 10px;
    box-sizing: border-box;
}

#categories .categories .category-img {
    overflow: hidden;
}

#categories .categories .category-img img {
    max-width: 100%;
    -webkit-transition: .35s;
    -moz-transition: .35s;
    -ms-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
}

#categories .categories .category-info {
    height: 100px;
    padding: 20px 15px;
    background: #252525;
    color: #959595;
}

#categories .categories .category-info p {
    font-size: 16px;
}

#categories .categories li:hover .category-img img {
    transform: rotate(-1deg) scale(1.05);
}

/* Apps */

#apps {
    height: 580px;
    background: url("../images/device_bg.png") 50% 50% no-repeat;
}

#apps .iphone {
    margin-top: -95px;
}

#apps .apps-info {
    padding: 150px 0 0 100px;
    color: #fff;
}

#apps .apps-info p {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#apps .apps-info p.big-text {
    font-size: 46px;
    line-height: 46px;
    letter-spacing: 1.6px;
}

#apps .apps-btn {
    padding: 100px 0 0 100px;
}

#apps .apps-btn .app-store {
    display: inline-block;
    width: 260px;
    height: 80px;
    background: url("../images/app-store.png") 50% 50% no-repeat;
}

#apps .apps-btn .google-play {
    margin-left: 20px;
    display: inline-block;
    width: 260px;
    height: 80px;
    background: url("../images/google-play.png") 50% 50% no-repeat;
}

/* Call to Action */

#cta {
    padding: 100px 0;
    text-align: center;
    color: #fff;
}

#cta h4 {
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 0;
    width: 500px;
    display: inline-block;
    line-height: 34px;
    margin-bottom: 30px;
}

/* Footer */

#footer {
    background: #000;
    padding: 40px 0;
}

#footer .footer-menu {
    float: left;
}

#footer .footer-menu li {
    display: inline-block;
}

#footer .footer-menu li a {
    position: relative;
    display: block;
    padding: 10px 50px 10px 0;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
}

#footer .footer-menu li a:after {
    content: "";
    display: block;
    width: 0;
    margin: 0 auto;
    margin-top: 2px;
    border-bottom: 1px solid #fff;
    -webkit-transition: .35s;
    -moz-transition: .35s;
    -ms-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
}

#footer .footer-menu li a:hover:after {
    width: 100%;
    -webkit-transition: .35s;
    -moz-transition: .35s;
    -ms-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
}

#footer .social-links {
    float: right;
    list-style: none;
}

#footer .social-links li {
    float: left;
    margin-left: 10px;
}

#footer .social-links li a {
    width: 39px;
    height: 39px;
    display: block;
    -webkit-transition: .35s;
    -moz-transition: .35s;
    -ms-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
}

#footer .social-links li a:hover {
    opacity: 0.8;
}

#footer .social-links .fb {
    background: url("../images/fb-icon.png") 50% 50% no-repeat;
}

#footer .social-links .tw {
    background: url("../images/tw-icon.png") 50% 50% no-repeat;
}

#footer .social-links .insta {
    background: url("../images/insta-icon.png") 50% 50% no-repeat;
}

#footer .social-links .pin {
    background: url("../images/pin-icon.png") 50% 50% no-repeat;
}

.share-block {
    text-align: center;
}

.share-links {
    display: inline-block;
    list-style: none;
    margin-bottom: 20px;
}

.share-links li {
    display: inline-block;
    margin-left: 10px;
}

.share-links li a {
    width: 24px;
    height: 24px;
    display: block;
    -webkit-transition: .35s;
    -moz-transition: .35s;
    -ms-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
}

.share-links li a:hover {
    opacity: 0.8;
}

.share-links .fb {
    background: url("../images/fb-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.share-links .tw {
    background: url("../images/tw-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.share-links .insta {
    background: url("../images/insta-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.share-links .gp {
    background: url("../images/gp-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.share-links .pin {
    background: url("../images/pin-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
}


#footer .copyright {
    float: left;
}

#footer .develop {
    float: right;
}

#footer .develop,
#footer .copyright {
    color: #464646;
    font-size: 16px;
    line-height: 30px;
    margin-top: 30px;
}

#footer .develop a {
    line-height: 20px;
    position: relative;
    display: inline-block;
    color: #464646;
    text-decoration: none;
}

#footer .develop a:after {
    content: "";
    display: block;
    width: 0;
    margin: 0 auto;
    margin-top: 2px;
    border-bottom: 1px solid #464646;
    -webkit-transition: .35s;
    -moz-transition: .35s;
    -ms-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
}

#footer .develop a:hover:after {
    width: 100%;
    -webkit-transition: .35s;
    -moz-transition: .35s;
    -ms-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
}

.modal {
    outline: none;
}

.modal.video .modal-dialog {
    width: 920px;
}

.modal.black .modal-dialog {
    padding: 150px 0;
}

.modal.black .modal-content {
    background: #181818;
    border-radius: 0;
    color: #fff;
}

.modal.black .modal-content .modal-header {
    text-align: center;
    border-bottom: 0;
    padding: 20px;
}

.modal.black .modal-content .modal-header .close {
    opacity: 0.8;
}

.modal.black .modal-content .modal-header h4 {
    padding: 20px 0;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.modal.black .modal-content .modal-body {
    padding: 0 60px;
    font-size: 22px;
    font-weight: 300;
}


.modal.video .modal-content .modal-body {
    padding: 0 20px;
}


.modal.black .modal-content .modal-footer {
    border-top: 0;
    padding: 60px;
    text-align: center;
    margin-top: 0;
}

.modal.black .form-control {
    margin-bottom: 10px;
    box-shadow: none;
    background: #e2e2e2;
    height: 60px;
    border-radius: 2px;
    border: 0;
    padding: 20px;
}

.modal.black .form-control.datepick {
    background: #e2e2e2 url('../images/calendar.png') 95% 50% no-repeat;
}

.modal video {
    max-width: 100%;
    height: auto;
    padding: 10px 0 20px 0;
}

.datefield {
    font-size: 0;
}

.subfield {
    display: inline-block;
    width: 33.333333%;
}

.monthfield,
.dayfield {
    padding-right: 10px;
}

#mc_embed_signup div.mce_inline_error {
    border-radius: 2px;
    text-align: center;
    margin-bottom: 0;
    padding: 20px !important;
    font-size: 14px;
    text-transform: uppercase;
}

#mc_embed_signup {
    padding: 10px;
}

/* Datepicker */

.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    color: #333;
    background: #fff;
    margin-top: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pika-single:before,
.pika-single:after {
    content: " ";
    display: table;
}

.pika-single:after {
    clear: both
}

.pika-single {
    *zoom: 1
}

.pika-single.is-hidden {
    display: none;
}

.pika-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .5);
}

.pika-lendar {
    float: left;
    width: 240px;
    margin: 11px;
}

.pika-title {
    position: relative;
    text-align: center;
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    background-color: #fff;
}

.pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: .5;
    *position: absolute;
    *top: 0;
}

.pika-prev:hover,
.pika-next:hover {
    opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
    *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
    *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
    cursor: default;
    opacity: .2;
}

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

.pika-table th,
.pika-table td {
    width: 14.285714285714286%;
    padding: 0;
}

.pika-table th {
    color: #999;
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
}

.pika-button {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    color: #666;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    background: #f5f5f5;
}

.pika-week {
    font-size: 11px;
    color: #999;
}

.is-today .pika-button {
    color: #33aaff;
    font-weight: bold;
}

.is-selected .pika-button {
    color: #fff;
    font-weight: bold;
    background: #33aaff;
    box-shadow: inset 0 1px 3px #178fe5;
    border-radius: 3px;
}

.is-inrange .pika-button {
    background: #D5E9F7;
}

.is-startrange .pika-button {
    color: #fff;
    background: #6CB31D;
    box-shadow: none;
    border-radius: 3px;
}

.is-endrange .pika-button {
    color: #fff;
    background: #33aaff;
    box-shadow: none;
    border-radius: 3px;
}

.is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: .3;
}

.pika-button:hover {
    color: #fff;
    background: #ff8000;
    box-shadow: none;
    border-radius: 3px;
}

.pika-table abbr {
    border-bottom: none;
    cursor: help;
}

@-moz-keyframes play-anim {
    0% {
        -moz-transform: rotate(0deg) scale(0.8) skew(1deg);
    }
    50% {
        -moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);
    }
    100% {
        -moz-transform: rotate(0deg) scale(0.8) skew(1deg);
    }
}

@-webkit-keyframes play-anim {
    0% {
        -webkit-transform: rotate(0deg) scale(0.8) skew(1deg);
    }
    50% {
        -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    }
    100% {
        -webkit-transform: rotate(0deg) scale(0.8) skew(1deg);
    }
}

@media (max-width: 1199px) {
    #options ul li .item-info {
        padding: 40px;
    }

    #categories .nav-tabs {
        display: block;
        margin: 0 -10px;
    }

    #categories .nav-tabs > li {
        width: 25%;
        padding: 0 10px;
    }

    #categories .nav-tabs > li > a {
        width: 100%;
    }

    #categories .categories .category-info {
        height: 130px;
    }

    #apps .apps-info {
        padding: 100px 0 0 100px;
    }

    #apps .apps-btn .app-store,
    #apps .apps-btn .google-play{
        margin-left: 0;
        margin-bottom: 10px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

    #options ul li .item-info {
        padding: 40px;
    }

    #options ul li .item-info h4 {
        margin-bottom: 20px;
        font-size: 20px;
    }

    #options ul li .item-info p {
        font-size: 16px;
    }

    #options ul li .item-info .btn {
        padding: 15px 35px;
    }


    #apps .apps-info {
        padding: 100px 0 0 80px;
    }

    #apps .apps-btn {
        padding: 80px 0 0 80px;
    }

    #apps .apps-btn .app-store,
    #apps .apps-btn .google-play{
        margin-left: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {

    .modal.video .modal-dialog {
        width: 100%;
    }

    .navbar-right {
        float: right;
        margin: 0;
    }

    .navbar-header,
    .navbar-nav > li {
        float: left;
    }

    #about p {
        text-align: center;
    }

    #options ul li {
        width: 100%;
    }

    #categories .nav-tabs {
        display: block;
        margin: 0 -2px;
    }

    #categories .nav-tabs > li {
        width: 25%;
        padding: 0 2px;
    }

    #categories .categories li {
        width: 50%;
        margin-bottom: 20px;
    }

    #categories .categories .category-img img {
        width: 100%;
    }

    #categories .categories .category-info {
        height: 100px;
    }

    #apps .apps-info {
        padding: 60px 0 40px 60px;
    }

    #apps .apps-info p,
    #apps .apps-info p.big-text{
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 0;
    }

    #apps .apps-btn {
        padding: 150px 0 0 60px;
    }

    #apps .apps-btn .app-store,
    #apps .apps-btn .google-play{
        margin-left: 0;
        margin-bottom: 5px;
    }

    #footer .footer-menu li a{
        padding: 10px 40px 10px 0;
    }
}

@media (max-width: 467px) {

    .btn {
        font-size: 12px;
        padding: 10px 30px
    }

    #header {
        height: 40px;
    }

    #header .navbar-header {
        margin: 0;
    }

    #header .navbar-brand img{
        max-width: 30px;
    }

    #header .navbar-brand {
        padding: 8px 0 7px;
    }

    #header .navbar-nav li {
        padding: 0;
    }

    #header .navbar-nav li a {
        padding: 10px 0 10px 20px;
        font-size: 12px;
        line-height: 18px;
    }

    #welcome {
        height: 550px;
    }

    #welcome .welcome-block p {
        font-size: 16px;
    }

    #welcome .welcome-block .logo img {
        max-width: 125px;
    }

    #welcome .welcome-block .play-btn {
        width: 60px;
        height: 60px;
        margin: 40px 0;
        background-size: contain;
    }

    #welcome .welcome-block .play-btn:before {
        width: 100px;
        height: 100px;
        margin-left: -50px;
        margin-top: -50px;
    }

    #welcome .welcome-block h1 {
        font-size: 16px;
        line-height: 24px;
    }

    #about .about-title:before {
        width: 280px;
        margin-left: -140px;
        height: 585px;
    }

    #about p {
        font-size: 14px;
        line-height: 22px;
    }

    #options ul li .item-info {
        padding: 40px;
    }

    #options ul li .item-info h4 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    #options ul li .item-info p {
        font-size: 12px;
        line-height: 16px;
        min-height: 50px;
    }

    #categories {
        padding: 80px 0;
    }

    #categories .nav-tabs > li {
        width: 100%;
        margin-bottom: 5px;
    }

    #categories .categories {
        padding: 30px 0;
    }

    #categories .categories li {
        width: 100%;
    }

    #apps .iphone {
        max-width: 190px;
        margin-top: -55px;
        margin-left: -100px;
    }

    #apps .apps-info {
        padding: 40px 0 0;
    }

    #apps .apps-info p,
    #apps .apps-info p.big-text{
        font-size: 16px;
        margin: 0;
        line-height: 26px;
    }

    #apps {
        height: 283px;
    }

    #apps .apps-btn {
        padding: 20px 0 0;
    }

    #apps .apps-btn .app-store,
    #apps .apps-btn .google-play{
        width: 180px;
        height: 55px;
        background-size: contain ;
        margin-left: 0;
        margin-bottom: 5px;
    }

    #cta {
        padding: 60px 20px;
    }

    #cta h4 {
        width: auto;
        font-size: 16px;
        line-height: 24px;
    }

    #footer {
        text-align: center;
    }

    #footer .footer-menu {
        font-size: 0;
    }

    #footer .footer-menu li {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }

    #footer .footer-menu li a{
        font-size: 16px;
        padding: 10px 0;
    }

    #footer .social-links {
        float:none;
        display: inline-block;
        margin-top: 20px;
    }

    #footer .develop, #footer .copyright {
        float: none;
        margin-top: 10px;
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    #options ul li .item-img img {
        min-height: 200px;
    }
}

#sign-in-blocked .modal-body p {
    line-height: 100px;
}

.registration-form button:hover, .registration-form button:focus {
    font-size: 14px !important;
}

.pass-label {
    margin: 5px 0;
    font-weight: bold;
}

.available-playlists {
    z-index: 999;
}